
snippet cli "console.log i"
console.log '$1 = ', $1
endsnippet

snippet cl "console.log"
console.log $1
endsnippet

snippet cla "console.log arguments"
console.log arguments
endsnippet

#snippet des "describe"
#describe "$1", ->
#endsnippet

#snippet it
#it '$1', ->
#endsnippet

snippet be "beforeEach ->"
beforeEach ->
endsnippet

