
snippet cl "console.log"
console.log $1
endsnippet

#snippet des "describe"
#describe "$1", ->
#endsnippet

#snippet it
#it '$1', ->
#endsnippet

snippet be "beforeEach ->"
beforeEach ->
endsnippet

