snippet ima
it { should allow_mass_assignment_of :$1 }
endsnippet

snippet pre
it { should validate_presence_of :$1 }
endsnippet

snippet ful
it { should allow_mass_assignment_of :$1 }
it { should validate_presence_of :$1 }
endsnippet
