export MAIN_TERMINAL_WINDOW_NAME=urxvt-main
export BIG_SCREEN_NAME=VGA-0
export SMALL_SCREEN_NAME=LVDS
export RBXOPT=-X19
export JRUBY_OPTS="-Xcext.enabled=true --1.9"

# export ALLE_API_CONFIG_PATH=
# export ALLE_API_DEV_LOGIN=
# export ALLE_API_DEV_PASSWORD=

export AWS_CONFIG_FILE=~/.aws-config


# export TRELLO_DEVELOPER_PUBLIC_KEY=
# export TRELLO_MEMBER_TOKEN=

export FLOPPY=/dev/fd0
